<!-- Header -->
<header class="header">
  <div class="header-left">
    <div class="logo">
      <i class="fas fa-solid fa-shop"></i><span>e-market</span>
    </div>
  </div>
  <div class="header-center">
    <div class="search-bar">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Search for items near you"/>
      <button class="location-btn">
        <i class="fas fa-map-marker-alt"></i>
        New York
      </button>
    </div>
  </div>
  <div class="header-right">
    <nav>
      <a href="#" class="nav-item active"><i class="fas fa-home"></i></a>
      <a href="post-listing.html" class="nav-item"
      ><i class="fas fa-plus"></i
      ></a>
      <a href="#" class="nav-item"><i class="fas fa-comment"></i></a>
      <a href="#" class="nav-item"><i class="fas fa-bell"></i></a>
      <a href="profile.html" class="nav-item profile"
      ><img src="assets/images/default-avatar.jpeg" alt="Profile"
      /></a>
    </nav>
  </div>
</header>
